NHS111/NHS111.Domain.ITKDispatcher/Service References/ITKMessageEngineService/MessageEngineService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="services.nhsd.messages" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="MessageEngineService" targetNamespace="services.nhsd.messages" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="services.nhsd.messages" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="CacheOOHAvailable" type="tns:CacheOOHAvailable" />
      <xs:element name="CacheOOHAvailableResponse" type="tns:CacheOOHAvailableResponse" />
      <xs:element name="CheckOOHAvailable" type="tns:CheckOOHAvailable" />
      <xs:element name="CheckOOHAvailableResponse" type="tns:CheckOOHAvailableResponse" />
      <xs:element name="IsOOH" type="tns:IsOOH" />
      <xs:element name="IsOOHResponse" type="tns:IsOOHResponse" />
      <xs:element name="LocateServices" type="tns:LocateServices" />
      <xs:element name="LocateServicesResponse" type="tns:LocateServicesResponse" />
      <xs:element name="SubmitEncounterToServiceRequest" type="tns:SubmitEncounterToServiceRequest" />
      <xs:element name="SubmitHaSCToService" type="tns:SubmitHaSCToService" />
      <xs:element name="SubmitHaSCToServiceResponse" type="tns:SubmitHaSCToServiceResponse" />
      <xs:element name="SubmitToCallQueueCallback" type="tns:SubmitToCallQueueCallback" />
      <xs:element name="SubmitToCallQueueCallbackRequest" type="tns:SubmitToCallQueueCallbackRequest" />
      <xs:element name="SubmitToCallQueueCallbackResponse" type="tns:SubmitToCallQueueCallbackResponse" />
      <xs:element name="SubmitToCallQueueEnquiry" type="tns:SubmitToCallQueueEnquiry" />
      <xs:element name="SubmitToCallQueueEnquiryRequest" type="tns:SubmitToCallQueueEnquiryRequest" />
      <xs:element name="SubmitToCallQueueEnquiryResponse" type="tns:SubmitToCallQueueEnquiryResponse" />
      <xs:element name="VerifyPatient" type="tns:VerifyPatient" />
      <xs:element name="VerifyPatientResponse" type="tns:VerifyPatientResponse" />
      <xs:complexType name="VerifyPatient">
        <xs:sequence>
          <xs:element name="Authentication" type="tns:Authentication" />
          <xs:element name="IdentifyPatientRequest" type="tns:IdentifyPatientRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Authentication">
        <xs:sequence>
          <xs:element name="Username" type="xs:string" />
          <xs:element name="Password" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="IdentifyPatientRequest">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:PatientDetails">
            <xs:sequence>
              <xs:element minOccurs="0" name="Address" type="xs:string" />
              <xs:element minOccurs="0" name="Postcode" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="PatientDetails">
        <xs:sequence>
          <xs:element name="Forename" type="xs:string" />
          <xs:element name="Surname" type="xs:string" />
          <xs:element minOccurs="0" name="DateOfBirth" type="xs:date" />
          <xs:element minOccurs="0" name="Gender" type="tns:gender" />
          <xs:element minOccurs="0" name="NhsNumber" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="VerifyPatientResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="IdentifyPatientResponse" type="tns:IdentifyPatientResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="IdentifyPatientResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Errors" type="xs:string" />
          <xs:element name="GPEndpointStatus" type="tns:identifyPatientResponseGPEndpointStatus" />
          <xs:element name="OverallStatus" type="tns:identifyPatientResponseOverallStatus" />
          <xs:element name="RepeatCallerStatus" type="tns:repeatCallerStatus" />
          <xs:element minOccurs="0" name="Patient" type="tns:Patient" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Patient">
        <xs:sequence>
          <xs:element minOccurs="0" name="Title" type="xs:string" />
          <xs:element minOccurs="0" name="Forename" type="xs:string" />
          <xs:element minOccurs="0" name="Surname" type="xs:string" />
          <xs:element minOccurs="0" name="DOB" type="xs:date" />
          <xs:element minOccurs="0" name="Gender" type="tns:gender" />
          <xs:element minOccurs="0" name="NhsNumber" type="xs:string" />
          <xs:element minOccurs="0" name="Address" type="tns:Address" />
          <xs:element minOccurs="0" name="TelephoneMobile" type="xs:string" />
          <xs:element minOccurs="0" name="TelephoneHome" type="xs:string" />
          <xs:element minOccurs="0" name="GPPractice" type="tns:GPPractice" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Address">
        <xs:sequence>
          <xs:element minOccurs="0" name="StreetAddressLine1" type="xs:string" />
          <xs:element minOccurs="0" name="StreetAddressLine2" type="xs:string" />
          <xs:element minOccurs="0" name="StreetAddressLine3" type="xs:string" />
          <xs:element minOccurs="0" name="StreetAddressLine4" type="xs:string" />
          <xs:element minOccurs="0" name="StreetAddressLine5" type="xs:string" />
          <xs:element name="PostalCode" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GPPractice">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" type="xs:string" />
          <xs:element minOccurs="0" name="Address" type="tns:Address" />
          <xs:element minOccurs="0" name="Telephone" type="xs:string" />
          <xs:element minOccurs="0" name="ODS" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SubmitToCallQueueCallback">
        <xs:sequence>
          <xs:element name="Authentication" type="tns:Authentication" />
          <xs:element name="SubmitToCallQueueRequest" type="tns:SubmitToCallQueueCallbackRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SubmitToCallQueueCallbackRequest">
        <xs:sequence>
          <xs:element name="CaseDetails" type="tns:SubmitToCallQueueDetails" />
          <xs:element name="PatientDetails" type="tns:SubmitPatientCallback" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SubmitToCallQueueDetails">
        <xs:sequence>
          <xs:element minOccurs="0" name="ExternalReference" type="xs:string" />
          <xs:element minOccurs="0" name="Source" type="xs:string" />
          <xs:element name="DispositionCode" type="xs:string" />
          <xs:element name="DispositionName" type="xs:string" />
          <xs:element minOccurs="0" name="CaseSummary">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" name="SummaryItem" type="tns:DataInstance" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="Provider" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DataInstance">
        <xs:sequence>
          <xs:element name="Name" type="xs:string" />
          <xs:element minOccurs="0" name="Caption" type="xs:string" />
          <xs:element minOccurs="0" name="Values">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="Value" type="xs:string" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SubmitPatientCallback">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:SubmitPatient">
            <xs:sequence>
              <xs:element minOccurs="0" name="EmailAddress" type="xs:string" />
              <xs:element name="TelephoneNumber" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="SubmitPatient">
        <xs:sequence>
          <xs:element minOccurs="0" name="Forename" type="xs:string" />
          <xs:element minOccurs="0" name="Surname" type="xs:string" />
          <xs:element name="DateOfBirth" type="tns:DateOfBirth" />
          <xs:element name="Gender" type="tns:gender" />
          <xs:element minOccurs="0" name="NhsNumber" type="xs:string" />
          <xs:element name="InformantType" type="tns:informantType" />
          <xs:element minOccurs="0" name="InformantName" type="xs:string" />
          <xs:element minOccurs="0" name="CurrentAddress" type="tns:Address" />
          <xs:element minOccurs="0" name="HomeAddress" type="tns:Address" />
          <xs:element minOccurs="0" name="GpPractice" type="tns:GPPractice" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DateOfBirth">
        <xs:choice>
          <xs:element name="dateOfBirth" type="xs:anySimpleType" />
          <xs:element name="yearOfBirth" type="xs:int" />
          <xs:element name="age" type="tns:age" />
        </xs:choice>
      </xs:complexType>
      <xs:complexType name="age">
        <xs:sequence>
          <xs:element minOccurs="0" name="type" type="tns:ageType" />
          <xs:element name="value" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SubmitToCallQueueCallbackResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="SubmitToCallQueueCallbackResponse" type="tns:SubmitToCallQueueResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SubmitToCallQueueResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Errors" type="xs:string" />
          <xs:element name="OverallStatus" type="tns:submitToCallQueueResponseOverallStatus" />
          <xs:element name="QueueReference" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CheckOOHAvailable">
        <xs:sequence>
          <xs:element name="Authentication" type="tns:Authentication" />
          <xs:element name="CheckOOHAvailabilityRequest" type="tns:CheckOOHAvailabilityRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CheckOOHAvailabilityRequest">
        <xs:sequence>
          <xs:element name="PostCode" type="xs:string" />
          <xs:element minOccurs="0" name="Time" type="xs:anySimpleType" />
          <xs:element minOccurs="0" name="SearchDistance" type="xs:int" />
          <xs:element name="Disposition" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CheckOOHAvailableResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="CheckOOHAvailabilityResponse" type="tns:CheckOOHAvailabilityResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CheckOOHAvailabilityResponse">
        <xs:sequence>
          <xs:element name="ServiceStatus" type="tns:oohServiceStatus" />
          <xs:element minOccurs="0" name="ServiceDetails" type="tns:SubmitToServiceDetails" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SubmitToServiceDetails">
        <xs:sequence>
          <xs:element name="id" type="xs:int" />
          <xs:element name="name" type="xs:string" />
          <xs:element minOccurs="0" name="odsCode" type="xs:string" />
          <xs:element minOccurs="0" name="contactDetails" type="xs:string" />
          <xs:element minOccurs="0" name="address" type="xs:string" />
          <xs:element minOccurs="0" name="postcode" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CacheOOHAvailable">
        <xs:sequence>
          <xs:element name="Authentication" type="tns:Authentication" />
          <xs:element name="CacheOOHAvailabilityRequest" type="tns:CacheOOHAvailabilityRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CacheOOHAvailabilityRequest">
        <xs:sequence>
          <xs:element name="PostCode" type="xs:string" />
          <xs:element minOccurs="0" name="Time" type="xs:anySimpleType" />
          <xs:element minOccurs="0" name="SearchDistance" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CacheOOHAvailableResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="CacheOOHAvailabilityResponse" type="tns:CacheOOHAvailabilityResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CacheOOHAvailabilityResponse">
        <xs:sequence>
          <xs:element name="Success" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SubmitToCallQueueEnquiry">
        <xs:sequence>
          <xs:element name="Authentication" type="tns:Authentication" />
          <xs:element name="SubmitToCallQueueRequest" type="tns:SubmitToCallQueueEnquiryRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SubmitToCallQueueEnquiryRequest">
        <xs:sequence>
          <xs:element name="CaseDetails" type="tns:SubmitToCallQueueDetails" />
          <xs:element name="PatientDetails" type="tns:SubmitPatientEnquiry" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SubmitPatientEnquiry">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:SubmitPatient">
            <xs:sequence>
              <xs:element name="EmailAddress" type="xs:string" />
              <xs:element minOccurs="0" name="TelephoneNumber" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="SubmitToCallQueueEnquiryResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="SubmitToCallQueueEnquiryResponse" type="tns:SubmitToCallQueueResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="IsOOH">
        <xs:sequence>
          <xs:element name="Authentication" type="tns:Authentication" />
          <xs:element name="IsOOHRequest" type="tns:IsOOHRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="IsOOHRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="Time" type="xs:anySimpleType" />
          <xs:element name="Disposition" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="IsOOHResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="OohStatus" type="tns:oohStatus" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SubmitHaSCToService">
        <xs:sequence>
          <xs:element name="Authentication" type="tns:Authentication" />
          <xs:element name="SubmitEncounterToServiceRequest" type="tns:SubmitEncounterToServiceRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SubmitEncounterToServiceRequest">
        <xs:sequence>
          <xs:element name="CaseDetails" type="tns:SubmitToCallQueueDetails" />
          <xs:element name="PatientDetails" type="tns:SubmitPatientService" />
          <xs:element name="ServiceDetails" type="tns:SubmitToServiceDetails" />
          <xs:element name="SendToRepeatCaller" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SubmitPatientService">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:SubmitPatient">
            <xs:sequence>
              <xs:element minOccurs="0" name="EmailAddress" type="xs:string" />
              <xs:element minOccurs="0" name="TelephoneNumber" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="SubmitHaSCToServiceResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="SubmitEncounterToServiceResponse" type="tns:SubmitEncounterToServiceResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SubmitEncounterToServiceResponse">
        <xs:sequence>
          <xs:element name="OverallStatus" type="tns:submitEncounterToServiceResponseOverallStatus" />
          <xs:element name="RepeatCallerStatus" type="tns:repeatCallerStatus" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="LocateServices">
        <xs:sequence>
          <xs:element name="Authentication" type="tns:Authentication" />
          <xs:element name="FindServicesRequest" type="tns:FindServicesRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="FindServicesRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="Age" type="xs:int" />
          <xs:element minOccurs="0" name="Gender" type="tns:gender" />
          <xs:element name="Postcode" type="xs:string" />
          <xs:element minOccurs="0" name="Surgery" type="xs:string" />
          <xs:element minOccurs="0" name="SearchDistance" type="xs:int" />
          <xs:element name="DispositionCode" type="xs:int" />
          <xs:element name="SymptomGroup" type="xs:int" />
          <xs:element maxOccurs="unbounded" name="SymptomDiscriminatorList" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="LocateServicesResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="FindServicesResponse" type="tns:FindServicesResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="FindServicesResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Results" type="tns:ServiceCareSummaryDestination" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ServiceCareSummaryDestination">
        <xs:sequence>
          <xs:element name="id" type="xs:int" />
          <xs:element name="name" type="xs:string" />
          <xs:element minOccurs="0" name="contactDetails" type="xs:string" />
          <xs:element minOccurs="0" name="address" type="xs:string" />
          <xs:element minOccurs="0" name="postcode" type="xs:string" />
          <xs:element minOccurs="0" name="northings" type="xs:int" />
          <xs:element minOccurs="0" name="distanceFromSearch" type="xs:float" />
          <xs:element minOccurs="0" name="eastings" type="xs:int" />
          <xs:element minOccurs="0" name="url" type="xs:string" />
          <xs:element minOccurs="0" name="notes" type="xs:string" />
          <xs:element name="obsolete" type="xs:boolean" />
          <xs:element name="updateTime" type="xs:dateTime" />
          <xs:element name="openAllHours" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="rotaSessions" nillable="true" type="tns:ServiceCareItemRotaSession" />
          <xs:element name="serviceType" type="tns:serviceDetails" />
          <xs:element minOccurs="0" name="odsCode" type="xs:string" />
          <xs:element minOccurs="0" name="rootParent" type="tns:serviceDetails" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ServiceCareItemRotaSession">
        <xs:sequence>
          <xs:element name="startDayOfWeek" type="tns:DayOfWeek" />
          <xs:element minOccurs="0" name="startTime" type="tns:TimeOfDay" />
          <xs:element name="endDayOfWeek" type="tns:DayOfWeek" />
          <xs:element minOccurs="0" name="endTime" type="tns:TimeOfDay" />
          <xs:element minOccurs="0" name="status" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TimeOfDay">
        <xs:sequence>
          <xs:element name="hours" type="xs:short" />
          <xs:element name="minutes" type="xs:short" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="serviceDetails">
        <xs:sequence>
          <xs:element name="id" type="xs:long" />
          <xs:element name="name" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="gender">
        <xs:restriction base="xs:string">
          <xs:enumeration value="Not_Known" />
          <xs:enumeration value="Male" />
          <xs:enumeration value="Female" />
          <xs:enumeration value="Not_Specified" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="identifyPatientResponseGPEndpointStatus">
        <xs:restriction base="xs:string">
          <xs:enumeration value="GP_Endpoint_listed" />
          <xs:enumeration value="No_GP_endpoint_listed" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="identifyPatientResponseOverallStatus">
        <xs:restriction base="xs:string">
          <xs:enumeration value="Patient_identified" />
          <xs:enumeration value="Unable_to_identify_patient" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="repeatCallerStatus">
        <xs:restriction base="xs:string">
          <xs:enumeration value="Patient_is_repeat_caller" />
          <xs:enumeration value="Patient_is_not_repeat_caller" />
          <xs:enumeration value="Undetermined" />
          <xs:enumeration value="Insufficient_Information" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="ageType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="Years" />
          <xs:enumeration value="Months" />
          <xs:enumeration value="Days" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="informantType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="Spouse" />
          <xs:enumeration value="Partner" />
          <xs:enumeration value="Parent" />
          <xs:enumeration value="NextOfKin" />
          <xs:enumeration value="Guardian" />
          <xs:enumeration value="FosterParent" />
          <xs:enumeration value="StepParent" />
          <xs:enumeration value="PolygamousPartner" />
          <xs:enumeration value="Child" />
          <xs:enumeration value="Dependant" />
          <xs:enumeration value="NonDependant" />
          <xs:enumeration value="Mother" />
          <xs:enumeration value="Father" />
          <xs:enumeration value="Sister" />
          <xs:enumeration value="Brother" />
          <xs:enumeration value="Relative" />
          <xs:enumeration value="Proxy_Contact" />
          <xs:enumeration value="Proxy_Communication" />
          <xs:enumeration value="Proxy_ContactAndCommunication" />
          <xs:enumeration value="Carer" />
          <xs:enumeration value="Self" />
          <xs:enumeration value="Wife" />
          <xs:enumeration value="Husband" />
          <xs:enumeration value="MaternalGrandFather" />
          <xs:enumeration value="MaternalGrandMother" />
          <xs:enumeration value="PaternalGrandFather" />
          <xs:enumeration value="PaternalGrandMother" />
          <xs:enumeration value="GrandSon" />
          <xs:enumeration value="GrandDaughter" />
          <xs:enumeration value="Aunt" />
          <xs:enumeration value="Uncle" />
          <xs:enumeration value="Niece" />
          <xs:enumeration value="Nephew" />
          <xs:enumeration value="StepMother" />
          <xs:enumeration value="StepFather" />
          <xs:enumeration value="StepSon" />
          <xs:enumeration value="StepDaughter" />
          <xs:enumeration value="CivilPartner" />
          <xs:enumeration value="ExWife" />
          <xs:enumeration value="ExHusband" />
          <xs:enumeration value="ExCivilPartner" />
          <xs:enumeration value="Son" />
          <xs:enumeration value="Daughter" />
          <xs:enumeration value="Grandparent" />
          <xs:enumeration value="Grandchild" />
          <xs:enumeration value="Friend" />
          <xs:enumeration value="Neighbour" />
          <xs:enumeration value="WorkColleague" />
          <xs:enumeration value="PersonWithParentalResponsibility" />
          <xs:enumeration value="InformalPartner" />
          <xs:enumeration value="NonRelativeLivedWithForAtLeastFiveYears" />
          <xs:enumeration value="NotKnown" />
          <xs:enumeration value="NotSpecified" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="submitToCallQueueResponseOverallStatus">
        <xs:restriction base="xs:string">
          <xs:enumeration value="Successful_call_queue_submission" />
          <xs:enumeration value="Invalid_data_passed" />
          <xs:enumeration value="Failed_call_queue_submission" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="oohServiceStatus">
        <xs:restriction base="xs:string">
          <xs:enumeration value="InHours" />
          <xs:enumeration value="OOHAvailable" />
          <xs:enumeration value="OOHNotAvailable" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="oohStatus">
        <xs:restriction base="xs:string">
          <xs:enumeration value="InHours" />
          <xs:enumeration value="OutOfHours" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="submitEncounterToServiceResponseOverallStatus">
        <xs:restriction base="xs:string">
          <xs:enumeration value="Successful_call_to_gp_webservice" />
          <xs:enumeration value="Failed_call_to_gp_webservice" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="DayOfWeek">
        <xs:restriction base="xs:string">
          <xs:enumeration value="Sunday" />
          <xs:enumeration value="Monday" />
          <xs:enumeration value="Tuesday" />
          <xs:enumeration value="Wednesday" />
          <xs:enumeration value="Thursday" />
          <xs:enumeration value="Friday" />
          <xs:enumeration value="Saturday" />
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="SubmitToCallQueueCallback">
    <wsdl:part name="parameters" element="tns:SubmitToCallQueueCallback" />
  </wsdl:message>
  <wsdl:message name="CheckOOHAvailableResponse">
    <wsdl:part name="parameters" element="tns:CheckOOHAvailableResponse" />
  </wsdl:message>
  <wsdl:message name="LocateServicesResponse">
    <wsdl:part name="parameters" element="tns:LocateServicesResponse" />
  </wsdl:message>
  <wsdl:message name="SubmitHaSCToServiceResponse">
    <wsdl:part name="parameters" element="tns:SubmitHaSCToServiceResponse" />
  </wsdl:message>
  <wsdl:message name="SubmitHaSCToService">
    <wsdl:part name="parameters" element="tns:SubmitHaSCToService" />
  </wsdl:message>
  <wsdl:message name="VerifyPatientResponse">
    <wsdl:part name="parameters" element="tns:VerifyPatientResponse" />
  </wsdl:message>
  <wsdl:message name="CacheOOHAvailable">
    <wsdl:part name="parameters" element="tns:CacheOOHAvailable" />
  </wsdl:message>
  <wsdl:message name="CacheOOHAvailableResponse">
    <wsdl:part name="parameters" element="tns:CacheOOHAvailableResponse" />
  </wsdl:message>
  <wsdl:message name="IsOOH">
    <wsdl:part name="parameters" element="tns:IsOOH" />
  </wsdl:message>
  <wsdl:message name="LocateServices">
    <wsdl:part name="parameters" element="tns:LocateServices" />
  </wsdl:message>
  <wsdl:message name="IsOOHResponse">
    <wsdl:part name="parameters" element="tns:IsOOHResponse" />
  </wsdl:message>
  <wsdl:message name="VerifyPatient">
    <wsdl:part name="parameters" element="tns:VerifyPatient" />
  </wsdl:message>
  <wsdl:message name="SubmitToCallQueueEnquiryResponse">
    <wsdl:part name="parameters" element="tns:SubmitToCallQueueEnquiryResponse" />
  </wsdl:message>
  <wsdl:message name="CheckOOHAvailable">
    <wsdl:part name="parameters" element="tns:CheckOOHAvailable" />
  </wsdl:message>
  <wsdl:message name="SubmitToCallQueueCallbackResponse">
    <wsdl:part name="parameters" element="tns:SubmitToCallQueueCallbackResponse" />
  </wsdl:message>
  <wsdl:message name="SubmitToCallQueueEnquiry">
    <wsdl:part name="parameters" element="tns:SubmitToCallQueueEnquiry" />
  </wsdl:message>
  <wsdl:portType name="MessageEngine">
    <wsdl:documentation>NHS Choices Digital Assesment Services</wsdl:documentation>
    <wsdl:operation name="VerifyPatient">
      <wsdl:documentation>This operation is used to identify a patient and discover their Repeat Caller status.</wsdl:documentation>
      <wsdl:input name="VerifyPatient" message="tns:VerifyPatient" />
      <wsdl:output name="VerifyPatientResponse" message="tns:VerifyPatientResponse" />
    </wsdl:operation>
    <wsdl:operation name="SubmitToCallQueueCallback">
      <wsdl:documentation>This operation is used to submit an enquiry into a call queue.</wsdl:documentation>
      <wsdl:input name="SubmitToCallQueueCallback" message="tns:SubmitToCallQueueCallback" />
      <wsdl:output name="SubmitToCallQueueCallbackResponse" message="tns:SubmitToCallQueueCallbackResponse" />
    </wsdl:operation>
    <wsdl:operation name="CheckOOHAvailable">
      <wsdl:documentation>This operation returns the service details for an out of hours if available. If the request is made within hours no services are returned.</wsdl:documentation>
      <wsdl:input name="CheckOOHAvailable" message="tns:CheckOOHAvailable" />
      <wsdl:output name="CheckOOHAvailableResponse" message="tns:CheckOOHAvailableResponse" />
    </wsdl:operation>
    <wsdl:operation name="CacheOOHAvailable">
      <wsdl:documentation>This operation provides an asyncronus call that instructs the ESB to retrieve out of hours service details for a given postcode in preperation for any future service calls. It is intended to be used as a non blocking call in the event the CheckOOHAvailable operation is to be called for a specifc postcode in the near future.</wsdl:documentation>
      <wsdl:input name="CacheOOHAvailable" message="tns:CacheOOHAvailable" />
      <wsdl:output name="CacheOOHAvailableResponse" message="tns:CacheOOHAvailableResponse" />
    </wsdl:operation>
    <wsdl:operation name="SubmitToCallQueueEnquiry">
      <wsdl:documentation>This operation is used to submit a callback request into a call queue.</wsdl:documentation>
      <wsdl:input name="SubmitToCallQueueEnquiry" message="tns:SubmitToCallQueueEnquiry" />
      <wsdl:output name="SubmitToCallQueueEnquiryResponse" message="tns:SubmitToCallQueueEnquiryResponse" />
    </wsdl:operation>
    <wsdl:operation name="IsOOH">
      <wsdl:documentation>This operation allows a consumer to enquire if a datetime is regarded as being out of hours.</wsdl:documentation>
      <wsdl:input name="IsOOH" message="tns:IsOOH" />
      <wsdl:output name="IsOOHResponse" message="tns:IsOOHResponse" />
    </wsdl:operation>
    <wsdl:operation name="SubmitHaSCToService">
      <wsdl:documentation>This operation is used to submit a completed HaSC to an endpoint.</wsdl:documentation>
      <wsdl:input name="SubmitHaSCToService" message="tns:SubmitHaSCToService" />
      <wsdl:output name="SubmitHaSCToServiceResponse" message="tns:SubmitHaSCToServiceResponse" />
    </wsdl:operation>
    <wsdl:operation name="LocateServices">
      <wsdl:documentation>This operation is used to discover medical services for a given disposition within a specific area.</wsdl:documentation>
      <wsdl:input name="LocateServices" message="tns:LocateServices" />
      <wsdl:output name="LocateServicesResponse" message="tns:LocateServicesResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MessageEngineServiceSoapBinding" type="tns:MessageEngine">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VerifyPatient">
      <soap:operation soapAction="VerifyPatient" style="document" />
      <wsdl:input name="VerifyPatient">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="VerifyPatientResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitToCallQueueCallback">
      <soap:operation soapAction="SubmitToCallQueueCallback" style="document" />
      <wsdl:input name="SubmitToCallQueueCallback">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SubmitToCallQueueCallbackResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckOOHAvailable">
      <soap:operation soapAction="CheckOOHAvailable" style="document" />
      <wsdl:input name="CheckOOHAvailable">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CheckOOHAvailableResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CacheOOHAvailable">
      <soap:operation soapAction="CacheOOHAvailable" style="document" />
      <wsdl:input name="CacheOOHAvailable">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CacheOOHAvailableResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitToCallQueueEnquiry">
      <soap:operation soapAction="SubmitToCallQueueEnquiry" style="document" />
      <wsdl:input name="SubmitToCallQueueEnquiry">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SubmitToCallQueueEnquiryResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsOOH">
      <soap:operation soapAction="IsOOH" style="document" />
      <wsdl:input name="IsOOH">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="IsOOHResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitHaSCToService">
      <soap:operation soapAction="SubmitHaSCToService" style="document" />
      <wsdl:input name="SubmitHaSCToService">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SubmitHaSCToServiceResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LocateServices">
      <soap:operation soapAction="LocateServices" style="document" />
      <wsdl:input name="LocateServices">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="LocateServicesResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MessageEngineService">
    <wsdl:documentation>MessageEngine WSDL Specification 1.5.1</wsdl:documentation>
    <wsdl:port name="MessageEnginePort" binding="tns:MessageEngineServiceSoapBinding">
      <soap:address location="https://servicebus.nhsdirect.nhs.uk/LIVE/MessageEngine/V1.5/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>